# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin


# Bazel
bazel-*
MODULE.bazel.lock
user.bazelrc

# Caches
.ruff_cache
/.cache/
__pycache__/

# docs:incremental and docs:ide_support build artifacts
/_build
/docs/ubproject.toml

# Vale - editorial style guide
.vale.ini
styles/

# direnv - folder-specific bash configuration
.envrc

# Python
.venv
/.coverage

# Compiler commands database
/compile_commands.json
